@{
    ViewData["Title"] = "Movie List";
}
@model System.Collections.Generic.IEnumerable<MvcMovie.Models.Movies>
<h2>My Movie Ratings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie)
            </td>

        </tr>
    }
</table>
